<% @sale_product ||= Spree::SaleProduct.new %>

<%= form_for @sale_product, url: admin_active_sale_active_sale_event_sale_products_url(@active_sale, @active_sale_event.id, @sale_product), html: { multipart: true } do |f| %>

  <div class='container'>
    <div class='row'>
      <div class="col-md-9">
        <legend align="center"><%= Spree.t(:new_sale_product, scope: [:active_sale]) %></legend>
        <%= f.hidden_field :active_sale_event_id, value: @active_sale_event.id %>
        <%= f.field_container :active_sale_event_id, class: ['form-group'] do %>
          <%= f.label :product_name, Spree.t(:product_name, scope: [:active_sale, :event, :active_record], default: :product_name) %>
          <p class='hint'><%= Spree.t(:product_name_hint, scope: [:active_sale, :event]) %></p>
          <%= f.text_field :product_id, class: 'autocomplete form-control', data: { auto_complete_url: search_admin_active_sales_url } %>
          <%= f.error_message_on :active_sale_event_id %>
        <% end %>
      </div>
    </div>

    <div class='row'>
      <div class="col-md-6">
        <div class="form-buttons filter-actions actions" data-hook="buttons">
          <%= button Spree.t(:add), 'ok' %>
          <span class="or"><%= Spree.t(:or) %></span>
          <%= link_to_with_icon 'remove', Spree.t(:cancel), admin_active_sale_active_sale_event_sale_products_url(@active_sale, @active_sale_event), id: 'cancel_link', class: 'button' %>
        </div>
      </div>
    </div>

  </div>
<% end %>
