<%= render partial: 'spree/shared/error_messages', locals: { target: @active_sale_event } %>
<div class="panel-body">
  <%= form_for @active_sale_event, url: @active_sale_event.new_record? ? admin_active_sale_active_sale_events_url(@active_sale) : admin_active_sale_active_sale_event_url(@active_sale, @active_sale_event), html: { id: 'admin_active_sale_event', multipart: true } do |f| %>
    <fieldset data-hook="admin_active_sale_event_form_fields" class="no-border-top">
      <div class='row'>
        <div class="col-md-6">
          <%= f.field_container :name, class: ['form-group'] do %>
            <%= f.label :name, raw(Spree.t(:name, scope: [:active_sale, :event, :active_record]) + content_tag(:span, ' *', class: 'required')) %>
            <%= f.text_field :name, class: 'form-control' %>
            <%= f.error_message_on :name %>
          <% end %>
        </div>

        <div class="col-md-6">
          <%= f.field_container :description, class: ['form-group'] do %>
            <%= f.label :description, Spree.t(:description, scope: [:active_sale, :event, :active_record]) %>
            <%= f.text_area :description, { rows: 10, class: 'form-control' } %>
            <%= f.error_message_on :description %>
          <% end %>
        </div>

        <div class="col-md-6">
          <%= f.field_container :taxons, class: ['form-group'] do %>
            <%= f.label :taxon_ids, Spree.t(:taxons) %><br />
            <%= f.hidden_field :taxon_ids, value: @active_sale_event.taxon_ids.join(',') %>
          <% end %>
        </div>
      </div>

      <div class="row" data-hook="admin_active_sale_event_form_right">
        <div class="col-md-6">
          <%= f.field_container :start_date, class: ['form-group'] do %>
            <%= f.label :start_date, raw(Spree.t(:start_date, scope: [:active_sale, :event, :active_record]) + content_tag(:span, ' *', class: 'required')) %>
            <%= f.error_message_on :start_date %>
            <% if @active_sale_event.start_date? %>
              <% start_date = l(@active_sale_event.start_date, format: Spree.t(:format, scope: [:active_sale, :event, :datetimepicker])) %>
            <% else %>
              <% start_date = l(Time.zone.now, format: Spree.t(:format, scope: [:active_sale, :event, :datetimepicker])) %>
            <% end %>
            <%= f.text_field :start_date, value: start_date, class: 'timepicker form-control' %>
          <% end %>
        </div>

        <div class="col-md-6">
          <%= f.field_container :end_date, class: ['form-group'] do %>
            <%= f.label :end_date, raw(Spree.t(:end_date, scope: [:active_sale, :event, :active_record]) + content_tag(:span, ' *', class: 'required')) %>
            <%= f.error_message_on :end_date %>
            <% end_date = l((@active_sale_event.end_date? ? @active_sale_event.end_date : Time.zone.now+1.day), format: Spree.t(:format, scope: [:active_sale, :event, :datetimepicker])) %>
            <%= f.text_field :end_date, value: end_date, class: 'timepicker form-control' %>
          <% end %>
        </div>

        <div class="col-md-6">
          <%= f.field_container :shipping_categories, class: ['form-group'] do %>
            <%= f.label :shipping_category_id, Spree.t(:shipping_categories) %>
            <%= f.collection_select(:shipping_category_id, @shipping_categories, :id, :name, { include_blank: 'None' }, { class: 'select2 form-control' }) %>
            <%= f.error_message_on :shipping_category %>
          <% end %>
        </div>

        <div class="col-md-6">
          <%= f.field_container :discount, class: ['form-group'] do %>
            <%= f.label :discount, Spree.t(:discount, scope: [:active_sale, :event, :active_record], default: :discount) %>
            <%= f.text_field :discount, size: 2, maxlength: 2, class: 'form-control' %>
            <p class='hint'><%= Spree.t(:discount_hint, scope: [:active_sale, :event]) %></p>
            <%= f.error_message_on :discount %>
          <% end %>
        </div>

        <div class="col-md-6">
          <%= f.field_container :is_active, class: ['checkbox', 'form-group'] do %>
            <label>
              <%= f.check_box :is_active, class: 'form-control' %>
              <%= Spree.t(:is_active, scope: [:active_sale, :event, :active_record]) %>
              <%= f.error_message_on :is_active %>
            </label>
          <% end %>
        </div>

        <div class="col-md-6">
          <%= f.field_container :is_hidden, class: ['checkbox', 'form-group'] do %>
            <label>
              <%= f.check_box :is_hidden, class: 'form-control' %>
              <%= Spree.t(:is_hidden, scope: [:active_sale, :event, :active_record]) %>
              <%= f.error_message_on :is_hidden %>
            </label>
          <% end %>
        </div>

        <div class="col-md-6">
          <%= f.field_container :is_permanent, class: ['checkbox', 'form-group'] do %>
            <label>
              <%= f.check_box :is_permanent, class: 'form-control' %>
              <%= Spree.t(:is_permanent, scope: [:active_sale, :event, :active_record]) %>
              <%= f.error_message_on :is_permanent %>
            </label>
          <% end %>
        </div>

        <div class="col-md-6">
          <%= f.field_container :single_product_sale, class: ['checkbox', 'form-group'] do %>
            <label>
              <%= f.check_box :single_product_sale, class: 'form-control' %>
              <%= Spree.t(:single_product_sale, scope: [:active_sale, :event, :active_record]) %>
              <%= f.error_message_on :single_product_sale %>
            </label>
          <% end %>
        </div>
      </div>
      <div class="clear"></div>

      <% if @active_sale_event.new_record? %>
        <%= render partial: 'spree/admin/shared/new_resource_links' %>
      <% else %>
        <%= render partial: 'spree/admin/shared/edit_resource_links' %>
      <% end %>
    </fieldset>
  <% end %>
</div>
