<% content_for :page_title do %>
  <%= @active_sale.name %>/<%= @active_sale_event.name %>/<%= Spree.t(:edit, scope: [:active_sale, :event, :title]) %>
<% end %>

<% content_for :page_actions do %>
  <%= button_link_to Spree.t(:edit, scope: [:active_sale, :link]), [:edit, :admin, @active_sale], icon: 'arrow-left', id: 'admin_active_sales_link' %>
  <%= button_link_to Spree.t(:new, scope: [:active_sale, :event, :link]), [:new, :admin, @active_sale, :active_sale_event], icon: 'plus', id: 'admin_new_active_sale_link' %>
<% end %>

<%= render partial: 'spree/admin/shared/sale_tabs', locals: { current: 'Sale Event Details' } %>

<div data-hook="admin_active_sale_event_edit_form">
  <%= render partial: 'form' %>
</div>
