<div id="new_active_sale_event" data-hook></div>

<table class="table" id="listing_active_sale_events" data-hook>
  <thead>
    <tr data-hook="admin_active_sale_events_index_headers">
      <th><%= Spree.t(:name, scope: [:active_sale, :event, :active_record]) %></th>
      <th><%= Spree.t(:start_date, scope: [:active_sale, :event, :active_record]) %></th>
      <th><%= Spree.t(:end_date, scope: [:active_sale, :event, :active_record]) %></th>
      <th><%= Spree.t(:is_live, scope: [:active_sale, :event, :active_record]) %></th>
      <th data-hook="admin_active_sale_events_index_header_actions" class="actions">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @active_sale_events.each do |event| %>
      <tr id="<%= spree_dom_id event %>" data-hook="admin_active_sales_index_rows" class="<%= cycle('odd', 'even')%>">
        <td class='active_sale_name'><%= link_to event.name, edit_admin_active_sale_active_sale_event_url(@active_sale, event) %></td>
        <td class='active_sale_start_date'><%= event.start_date %></td>
        <td class='active_sale_end_date'><%= event.end_date %></td>
        <td class='active_sale_is_live'><%= event.live? ? Spree.t(:boolean_yes, scope: [:active_sale, :event]) : Spree.t(:boolean_no, scope: [:active_sale, :event]) %></td>
        <td class="actions" data-hook="admin_active_sale_events_index_row_actions">
          <p class="actions" data-hook="actions">
            <%= link_to_edit_url edit_admin_active_sale_active_sale_event_url(@active_sale, event), no_text: true %>
            &nbsp;
            <%= link_to_delete event, { url: [:admin, @active_sale, event], no_text: true } %>
          </p>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
