<% content_for :sidebar_title do %>
  <span class="name"><%= @active_sale_event.name %></span>
<% end %>

<% content_for :sidebar do %>
  <ul data-hook="admin_sale_tabs" class="nav nav-pills nav-stacked">
    <li<%== ' class="active"' if current == 'Sale Event Details' %>>
      <%= link_to_with_icon 'edit', Spree.t(:details, scope: [:active_sale, :event]), edit_admin_active_sale_active_sale_event_url(@active_sale, @active_sale_event) %>
    </li>
    <li<%== ' class="active"' if current == 'Sale Event Images' %>>
      <%= link_to_with_icon 'picture', Spree.t(:images), admin_active_sale_active_sale_event_sale_images_url(@active_sale, @active_sale_event) %>
    </li>
    <li<%== ' class="active"' if current == 'Sale Event Products' %>>
      <%= link_to_with_icon 'tasks', Spree.t(:sale_products, scope: [:active_sale, :event]), admin_active_sale_active_sale_event_sale_products_url(@active_sale, @active_sale_event) %>
    </li>
  </ul>
<% end %>
